MONGODB_URI=mongodb+srv://sravanthkumar910:Nani%40123@collabstr.ntp722e.mongodb.net/collabstr?retryWrites=true&w=majority
PORT=5001
JWT_SECRET=supersecretkeychangeinproduction
# EMAIL_USER=your_email
# EMAIL_PASS=your_app_password
# Add other vars as needed for nodemailer/auth
